# Server Config
PORT=8000
# There are multiple environments - development, production, test, provision
NODE_ENV=development

# Database Config
DATABASE_TYPE=postgres
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/postgres
DATABASE_AUTO_LOAD_ENTITIES=true
DATABASE_SYNCHRONIZE=true
